body {
    padding: 0;
    margin: 0;
    background-image: url("../images/header-background-pic.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: -webkit-center;
    text-align: center;
    align-content: center;
}





.notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    background: url('../images/cover-pic.jpg') no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background-size: cover;*/
    background-position: center;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    color: #562515;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #457ce8;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #4e4e4e;
            box-shadow: 0px 4px 15px -5px #4e4e4e;
}

a:hover {
    background: #185be1;
}