@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --lora: 'Lora', serif;
    --mont: 'Montserrat', sans-serif;
    --primary: #d2985e;
    --secondary: #292929;
    --snow: #f9f9f9;
    --trans: all 0.3s ease-in-out;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mont);
}

/* common stylings */
.container{
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--secondary);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 25px;
}
.text{
    font-size: 15px;
    line-height: 2;
    font-family: var(--lora);
    margin-bottom: 25px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid var(--primary);
    font-weight: 500;
    transition: var(--trans);
}
.btn-lg{
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-wrap: nowrap;
}
.btn-sm{
    width: 170px;
    font-size: 15px;
}
.btn:hover{
    background-color: var(--primary);
    color: #fff;
}
button{
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
}
.section-title{
    text-align: center;
    margin-top: 10px;
}
.section-title h2{
    color: var(--primary);
    margin-bottom: 40px;
    font-weight: 500;
}
.grid{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}



/* header */
/*#header{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}*/
.header-top{
    height: 30px;
    background-color: var(--secondary);
    color: #fff;
    font-size: 12px;
    width: 100%;
}
.header-top .container{
    justify-content: space-between;
    width: 100%;
}
.header-top-left span{
    display: inline-block;
}
.header-top-left span:first-child{
    margin-right: 50px;
}
.header-top-btns li a{
    color: #fff;
    margin-left: 28px;
    transition: var(--trans);
}
.header-top-btns li a:hover{
    color: var(--primary);
}
.header-top-btn{
    margin-left: 35px!important;
}

/* header - top navbar */
.top-navbar{
    height: 110px;
}
.top-navbar .container{
    max-width: 1005px;
    width: 100%;
    justify-content: space-between;
}
.navbar-nav-right{
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
}



/* header - logo stylings */
.navbar-brand{
    width: 182px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    margin: 0 60px;
    padding-right: 12px;
    letter-spacing: 3px;
    transition: var(--trans);
    border-radius: 10px;
    border-color: #d3ad7c;
    margin-right: 300px;
    margin-left: 0px;
}
.logo {
    background: url("../images/logo.png") no-repeat;
    background-size: contain; /* Adjust the background size */
    /*width: 60px;*/
    height: 60px;
    min-width: 60px;
    min-height: 25px;
    /*margin-left: 10px;*/
    /*margin-top: 5px;*/
}
.navbar-brand .brand-text{
    text-transform: uppercase;
    text-align: center;
}
.navbar-brand:hover{
    background-color: var(--secondary);
    color: #fff;
}


.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #7e9fc3;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 9999;
    max-height: 100px;
    overflow-y: auto;
    font-size: 14px;
    height: fit-content;
    text-align: center;
    opacity: 1;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cart {
    bottom: -6px;
    position: relative;
}
.cart img {
    border-radius: 0;
}
.number-items {
    position: relative;
    top: -24px;
    right: -15px;
    background-color: burlywood;
    border-radius: 50%;
    padding: 1px 2px;
    min-width: 12px;
    text-align: center;
    align-content: center;
    width: 14px;
}
.cart:hover .number-items {
    background-color: burlywood;
    color: white;
    height: 15px;
    width: 15px;
    font-size: 20px;
    top: -24px;
    right: -12px;
    align-content: center;
}
.cart-icon {
    height: 17px;
}
.cart:hover .cart-icon{
    opacity: 0.5;
}




.nav-link{
    transition: var(--trans);
}
.nav-link.active{
    color: var(--primary);
}
.nav-link:hover{
    color: var(--primary);
}

.header-banner{
    background-color: var(--snow);
}
.header-banner .container{
    justify-content: space-between;
    max-width: 1005px;
}
.header-banner-left{
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin-right: 50px;
}
.header-banner-left h1{
    color: var(--primary);
    margin-left: 0;
    line-height: 1.3;
    font-size: 40px;
    font-family: var(--mont);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.header-banner-right{
    width: 400px;
}




/* products section */
#products{
    padding: 60px 0;
}
.btns-group{
    margin-bottom: 85px;
    flex-wrap: wrap;
}
.btn-item{
    margin: 12px 24px;
    font-size: 15px;
    font-weight: 500;
    transition: var(--trans);
}
.btn-item.active{
    color: var(--primary);
}
.btn-item:hover{
    color: var(--primary);
}
.products-item{
    display: flex; /* Set popular-item to flex container */
    flex-direction: column;
    max-width: 270px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 25px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin-bottom: 10px;
}
.item-img{
    position: relative;
    /*height: 360px;*/
    height: 270px;
    width: 100%;
}
.item-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: var(--trans);
    border-radius: 25px;
}
.item-img:hover::after{
    opacity: 1;
}
.item-info{
    margin-top: auto; /* Push item-info to the bottom */
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
    font-weight: 500;
}
.item-info .name{
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    margin-left: 8px;
    margin-right: 8px;
}
.item-info .price{
    color: var(--primary);
}
#popular .btn-sm {
    margin: 25px auto 0 auto;
}


/* filter */
.container .filters {
    position: relative;
    background: white;
    height: 70px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    box-shadow: 0px 23px 36px -32px black;
}
.button {
    position: absolute;
    height: 50px;
    background-color: #eee;
    font-weight: 500;
    transition: var(--trans);
    width: 170px;
    font-size: 15px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.button:hover {
    background-color: var(--primary);
    color: #fff;
}
.filters div {
    display: inline-grid;
}

.filters h2 {
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;
}
.filters h3 {
    margin-left: 15%;
    margin-bottom: 0;
    font-weight: 600;
}
.filters h4 {
    height: 16px;
    margin-left: 15%;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
    margin-bottom: 10px;
}
.crafts {
    height: 100%;
    width: 25%;
    margin-top: 21px;
}

.popover {
    visibility: hidden;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #FAFAFA;
    padding-bottom: 15px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 300px;
    z-index: 1;
    height: fit-content;
}

.popover::-webkit-scrollbar{
    width: 0px;
}

.crafts .popover {
    margin-top: 0%;
}
.popover ul {
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 20px;
}
.popover ul li{
    padding: 4px;
    padding-left: 10px;
}

.popover ul h2{
    margin-top: 1.5%;
    margin-bottom: 5%;
    margin-left: 0px;
}

.crafts:hover .popover {
    visibility: visible;
}

.crafts ul li input[type="checkbox"] {
    margin-right: 10px;
}

.crafts ul li h2 {
    display: inline;
    margin: 0;
}



/* footer */
#footer{
    background-color: var(--secondary);
    color: #fff;
    padding: 65px 0;
    background: linear-gradient(139deg, rgba(20,15,15,1) 0%, rgba(119,108,97,1) 67%, rgba(119,108,97,0.7898809181875875) 100%);
}
#footer .container{
    align-items: flex-start;
}
.footer-grid{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.footer-item > h4{
    font-size: 15px;
    margin-bottom: 25px;
}
.footer-item.one .navbar-brand{
    display: block;
    color: var(--primary);
    border-color: var(--primary);
    margin: 0;
    transition: var(--trans);
}
.footer-item.one .navbar-brand:hover{
    background-color: #fff;
    border-color: #fff;
}
.footer-item.one .text{
    margin: 32px 0 50px 0;
    font-family: inherit;
}
.footer-item.one span{
    font-size: 13px;
}
.footer-links li{
    margin-bottom: 25px;
}
.footer-links li:last-child{
    margin-bottom: 0;
}
.footer-links a{
    color: #fff;
    font-size: 13px;
    transition: var(--trans);
}
.footer-links a:hover{
    color: var(--primary);
}
.footer-item.four .text{
    font-size: 13px;
}
.footer-item.four span{
    display: block;
    font-size: 15px;
    padding: 15px;
    border: 2px solid var(--primary);
    margin: 40px 0 50px 0;
}




/* Media queries */

@media screen and (max-width: 1200px){
    #footer .container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: flex-start;
        row-gap: 45px;
    }
}

@media screen and (max-width: 1000px){
    .popular-grid, .collection-grid, .collection-2-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    #subs{
        height: 280px;
    }
    #subs .container{
        flex-direction: column;
    }
    #subs .container .form-control{
        margin: 20px 0;
    }
    .about-us-right{
        padding: 65px 75px;
    }
}


@media screen and (max-width: 992px){
    .top-navbar .container{
        position: relative;
    }
    .navbar-brand{
        margin-left: 0;
    }
    .navbar-nav-left, .navbar-nav-right{
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: var(--primary);
        right: 20px;
        top: 100%;
        width: 240px;
        padding: 20px;
    }
    .navbar-nav-left li, .navbar-nav-right li{
        margin: 12px 0;
    }
    .nav-link.active{
        color: #fff;
    }
    .nav-link:hover{
        color: #fff;
    }
    .navbar-nav-left{
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    }
    .navbar-nav-right{
        top: 230px;
        box-shadow: 0 10 12px 0 rgba(0, 0, 0, 0.1);
    }
    .showNav{
        display: flex; /* js related styling */
    }
    .bottom-navbar{
        height: auto;
        padding: 20px 0;
    }
    .bottom-navbar .container{
        flex-direction: column;
    }
    .links-and-inputs{
        flex-direction: column;
    }
    .navbar-nav-bottom{
        margin: 20px 0;
    }
    .navbar-nav-bottom li:first-child .nav-link{
        margin-left: 0;
    }
    .input-boxes{
        margin-left: 0;
    }

    #collection-2 .section-title > div{
        flex-direction: column;
    }
    #collection-2 .text{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    #collection-2 .btns-group{
        width: 100%;
    }

    #about-us{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-us-left{
        height: 510px;
    }
    .about-us-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 65px 20px;
    }
}

@media screen and (max-width: 768px){
    .header-top .container{
        flex-direction: column;
    }
    .header-top-left{
        display: none;
    }
    .header-top-btns{
        margin-left: -28px;
    }
    .header-banner .container{
        flex-direction: column;
    }
    .header-banner-left{
        margin-bottom: 40px;
        text-align: center;
    }
    .header-banner-left h1, .header-banner-left .btn, .header-banner-left p{
        margin-right: auto;
        margin-left: auto;
    }
    .header-banner-left p{
        max-width: 600px;
    }
    .header-banner-right{
        width: 60%;
    }

    #footer .container{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        justify-items: center;
    }
    .footer-item.one .navbar-brand{
        margin-right: auto;
        margin-left: auto;
    }
    .footer-item .text{
        max-width: 570px;
    }
}

@media screen and (max-width: 678px){
    #subs{
        text-align: center;
    }
    #subs h3{
        margin-right: 0!important;
    }
    #subs .form-control{
        width: 100%!important;
    }
    #subs .btn-sm{
        width: 100%!important;
        margin-left: 0!important;
    }
}

@media screen and (max-width: 500px){
    .links-and-inputs{
        width: 100%;
    }
    .navbar-nav-bottom{
        flex-direction: column;
        width: 100%;
    }
    .navbar-nav-bottom .nav-link{
        display: block;
        margin: 12px 0;
    }
    .input-boxes{
        flex-direction: column;
        width: 100%;
    }
    .input-box:first-child .form-control, .input-box:last-child .form-control{
        width: auto;
    }
    .input-box:last-child{
        margin-left: 0;
        margin-top: 15px;
    }

    .popular-grid, .collection-grid, .collection-2-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}



/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -10px;
}

.dropdown-content a {
    color: #292929;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
    color: #d2985e;
}

.dropdown:hover .dropdown-content {
    display: block;
}