/*#header{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 60px;
}
.form-container {
    width: 700px;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 8px;
    margin: auto auto;
}
pre {
    text-align: center;
    color: #292929;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
    display: block;
}
.form-group input, select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}
.form-group input[type="submit"] {
    background-color: #d2985e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.form-group input[type="submit"]:hover {
    background-color: #292929;
    color: #d2985e;
}
.form-group input[type="submit"]:focus {
    outline: none;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 6px;
}
.alert {
    text-align: center;
    color: rgb(117, 118, 118);
}
#picture {
    border: none;
    color: darkgrey;
    padding-left: 0;
}


/* Sign-in-up redirection */
.nav-link-sign{
    color: #455bc9;
    font-weight: 600;
    margin-left: 10px;
}
.nav-link-sign.active{
    color: var(--primary);
}
.nav-link-sign:hover{
    color: var(--primary);
}

.sell-with-us{
    margin-top: 15px;
}

#footer {
    width: 100%;
    height: 350px;
}

/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -10px;
}

.dropdown-content a {
    color: #292929;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
    color: #d2985e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.form-container img {
    height: 200px;
    width: 200px;
    margin: 30px auto;
}

h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.info-container {
    width: 100%;
    padding: 30px 30px 20px 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    margin: auto auto;
}

.info {
    float: right;
}

.info-container div {
    margin-bottom: 20px;
}

.home-btn {
    background-color: #007bff;
    color: #f9f9f9;
    padding: 12px;
    margin: 30px auto;
    border: none;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    display: block;
}

.home-btn:hover {
    background-color: var(--secondary);
}