<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About</title>
		<link rel = "stylesheet" href = "../static/styles/home.css">
        <link rel = "stylesheet" href = "../static/styles/about.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="icon" href="../static/images/logo.png" />
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	<body>

		<!-- header -->
		<header id = "header">

			<!-- top navbar -->
			<nav class = "top-navbar flex">
				<div class = "container flex">
					<!-- logo -->
					<a href = "{{ url_for('home') }}" class = "navbar-brand flex">
						<div class="logo"></div>
						<span class = "brand-text">Artisans Alley</span>
					</a>
					<!-- end of logo -->
					<ul class = "navbar-nav-right flex">
						<a href = "{{ url_for('home') }}" class = "nav-link">Home</a>
                        <a href = "{{ url_for('explore_artisans') }}" class = "nav-link">Artisans</a>
                        <a href = "{{ url_for('explore_products') }}" class = "nav-link" >Products</a>
                        {% if not current_user.is_authenticated %}
                            <a href = "{{ url_for('artisan_sign_up') }}" class = "nav-link">Sell With Us</a>
                        {% endif %}
                        <a href = "{{ url_for('about') }}" class = "nav-link active">About</a>
                        {% if current_user.is_authenticated %}
							<div class="dropdown">
								{% if current_user.__class__.__name__ == 'Customer' %}
									<button class="nav-link navbar-nav-right">Welcome, {{ current_user.first_name }}</button>
									<div class="dropdown-content">
										<a href="{{ url_for('order') }}">Cart</a>
                                        <a href="{{ url_for('customer_archive') }}">Orders</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% elif current_user.__class__.__name__ == 'Artisan' %}
									<button class="nav-link navbar-nav-right">Account</button>
									<div class="dropdown-content">
										<a href="{{ url_for('artisan', artisan_id=current_user.id) }}" class="artisan-profile-redirection">Profile</a>
										<a href="{{ url_for('artisan_orders', artisan_id=current_user.id) }}" class="artisan-profile-redirection">Orders</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% endif %}
							</div>
                        {% else %}
                            <a href="{{ url_for('sign_in') }}" class="nav-link">Sign In</a>
                        {% endif %}
						{% if current_user.is_authenticated %}
							{% if current_user.__class__.__name__ == 'Customer' %}
								<a href = "{{ url_for('order') }}" class = "cart" data-order-id="{{ order.id }}">
									<img src="../static/images/cart-icon.png" class="cart-icon" style="height:17px">
									<div class="number-items">
										<h6 class="cart-total"></h6>
									</div>
								</a>
							{% endif %}
						{% endif %}
					</ul>
					<!-- hamburger menu icon -->
					<button type = "button" class = "navbar-toggler">
						<i class = "fa fa-bars"></i>
					</button>
					<!-- end of hamburger menu icon -->
				</div>
			</nav>
		</header>
		<!-- end of header -->


        <!-- About section -->
        <div class="about-container">
            <div class="about-details">
                <h1>About Us</h1>
                <h2 class="about_name">Artisans Alley</h2>
                <p class="description">Artisans Alley is the culmination of a shared passion for craftsmanship, community, and creativity. We embarked on this project with a simple yet profound purpose: to provide a platform where artisans can thrive and where customers can discover the beauty of handmade goods.</p>
                <p class="description">In a world where mass production often dominates, we wanted to create a space where the unique stories behind each handcrafted piece could be celebrated. Our goal is to empower artisans by giving them a platform to showcase their skills, share their stories, and connect with a global audience of appreciative customers.</p>
                <p class="description">At the heart of Artisans Alley is a commitment to preserving and promoting traditional craftsmanship while also embracing innovation and modern design. We believe that handmade goods carry a special authenticity and charm that simply can't be replicated by machines.</p>
                <p class="description">By creating Artisans Alley, we aim to foster a sense of community among artisans and customers alike – a place where people can come together to celebrate creativity, support local economies, and experience the joy of owning something truly special. We're passionate about creating a more sustainable and equitable future for artisans, customers, and the planet.</p>
                <p class="description">Thank you for joining us on this journey as we work to make the world a more beautiful and connected place, one handcrafted creation at a time.</p>
            </div>
        </div>
        <!-- About section -->


		<!-- footer -->
		<footer id = "footer">
			<div class = "container footer-grid">
				<div class = "footer-item one">
					<a href = "#" class = "navbar-brand"><span class = "brand-text">Artisans Alley</span></a>
					<p class = "text">Welcome to the digital home of local makers and artisans, The place to find unique and beautiful items to treat yourself, enhance your home decor, or find a memorable gift.</p>
				</div>

				<div class = "footer-item">
					<ul class = "footer-links">
						<li><a href = "{{ url_for('home') }}">Home</a></li>
						<li><a href = "{{ url_for('explore_artisans') }}">Artisans</a></li>
						<li><a href = "{{ url_for('explore_products') }}">Products</a></li>
						<li><a href = "{{ url_for('artisan_sign_up') }}">Sell With Us</a></li>
						<li><a href = "#">About</a></li>
					</ul>
				</div>

				<div class = "footer-item four">
					<h4>Contact Us</h4>
					<span>   ArtisansAlley@gmail.com   </span>
				</div>
			</div>
		</footer>
		<!-- end of footer -->
	</body>

	<script>
		const orderId = $('.cart').data('order-id');
		if (orderId) {
				$.ajax({
				url: `http://localhost:5001/api/v1/orders/${orderId}/products`,
				type: 'GET',
				success: function (response) {
					let totalItems = 0;
					response.forEach(function (product) {
						totalItems++;
					});
					$('.cart-total').text(totalItems);
				}
			});
		}
	</script>
</html>