<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Create a product</title>
		<link rel = "stylesheet" href = "../static/styles/home.css">
		<link rel="stylesheet" href="../static/styles/sign_up.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="icon" href="../static/images/logo.png" />
	</head>
	<body>

		<!-- header -->
		<header id = "header">

			<!-- top navbar -->
			<nav class = "top-navbar flex">
				<div class = "container flex">
					<!-- logo -->
					<a href = "{{ url_for('home') }}" class = "navbar-brand flex">
						<div class="logo"></div>
						<span class = "brand-text">Artisans Alley</span>
					</a>
					<!-- end of logo -->
					<ul class = "navbar-nav-right flex">
						<a href = "{{ url_for('home') }}" class = "nav-link">Home</a>
                        <a href = "{{ url_for('explore_artisans') }}" class = "nav-link">Artisans</a>
                        <a href = "{{ url_for('explore_products') }}" class = "nav-link">Products</a>
                        <a href = "{{ url_for('artisan_sign_up') }}" class = "nav-link">Sell With Us</a>
                        <a href = "{{ url_for('about') }}" class = "nav-link">About</a>
                        {% if current_user.is_authenticated %}
							<div class="dropdown">
								{% if current_user.__class__.__name__ == 'Customer' %}
									<button class="nav-link navbar-nav-right">Welcome, {{ current_user.first_name }}</button>
									<div class="dropdown-content">
										<a href="{{ url_for('order') }}">Orders</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% elif current_user.__class__.__name__ == 'Artisan' %}
									<button class="nav-link navbar-nav-right">Account</button>
									<div class="dropdown-content">
										<a href="{{ url_for('artisan', artisan_id=current_user.id) }}" class="artisan-profile-redirection">Profile</a>
										<a href="{{ url_for('artisan_orders', artisan_id=current_user.id) }}" class="artisan-profile-redirection">Orders</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% endif %}
							</div>
                        {% else %}
                            <a href="{{ url_for('sign_in') }}" class="nav-link">Sign In</a>
                        {% endif %}
						{% if current_user.is_authenticated %}
							{% if current_user.__class__.__name__ == 'Artisan' %}
								<a href = "{{ url_for('artisan_orders', artisan_id=current_user.id) }}" class = "cart" data-artisan-id="{{ current_user.id }}">
									<img src="../static/images/bell-icon.png" class="cart-icon" style="height:17px">
									<div class="number-items">
										<h6 class="cart-total"></h6>
									</div>
								</a>
							{% endif %}
						{% endif %}
					</ul>
					<!-- hamburger menu icon -->
					<button type = "button" class = "navbar-toggler">
						<i class = "fa fa-bars"></i>
					</button>
					<!-- end of hamburger menu icon -->
				</div>
			</nav>
		</header>
		<!-- end of header -->

		<!-- form -->
		<div class="form-container">
			<h2>Create a product</h2>
			<form method="post" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				<div class="form-group">
					<label for="name">Product's Name:</label>
					{{ form.name }}
					{% if form.name.errors %}
						{% for error in form.name.errors %}
							<div class="error">{{ error }}</div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group">
					<label for="description">Description:</label>
					{{ form.description }}
					{% if form.description.errors %}
						{% for error in form.description.errors %}
							<div class="error">{{ error }}</div>
						{% endfor %}
					{% endif %}
				</div>
                <div class="form-group">
					<label for="price">Price:</label>
					{{ form.price }}
					{% if form.price.errors %}
						{% for error in form.price.errors %}
							<div class="error">{{ error }}</div>
						{% endfor %}
					{% endif %}
				</div>
                <div class="form-group">
                    <label for="craft">Craft:</label>
                    {{ form.craft }}
                    {% for error in form.craft.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="picture">Add Image</label>
                    {{ form.picture }}
                    {% for error in form.picture.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
				<div class="form-group">
					{{ form.submit }}
				</div>
			</form>
		</div>
		<!-- end of form -->


		<!-- footer -->
		<footer id = "footer">
			<div class = "container footer-grid">
				<div class = "footer-item one">
					<a href = "#" class = "navbar-brand"><span class = "brand-text">Artisans Alley</span></a>
					<p class = "text">Welcome to the digital home of local makers and artisans, The place to find unique and beautiful items to treat yourself, enhance your home decor, or find a memorable gift.</p>
				</div>

				<div class = "footer-item">
					<ul class = "footer-links">
						<li><a href = "{{ url_for('home') }}">Home</a></li>
						<li><a href = "{{ url_for('explore_artisans') }}">Artisans</a></li>
						<li><a href = "{{ url_for('explore_products') }}">Products</a></li>
						<li><a href = "{{ url_for('artisan_sign_up') }}">Sell With Us</a></li>
						<li><a href = "{{ url_for('about') }}">About</a></li>
					</ul>
				</div>

				<div class = "footer-item four">
					<h4>Contact Us</h4>
					<span>   ArtisansAlley@gmail.com   </span>
				</div>
			</div>
		</footer>
		<!-- end of footer -->
	</body>
</html>

