<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Checkout</title>
		<link rel = "stylesheet" href = "../static/styles/home.css">
		<link rel="stylesheet" href="../static/styles/checkout.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="icon" href="../static/images/logo.png" />
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- Import JavaScript file -->
		<script type="text/javascript" src="../static/scripts/checkout.js"></script>
		<script src="https://js.stripe.com/v3/"></script>

	</head>
	<body>

		<!-- header -->
		<header id = "header">

			<!-- top navbar -->
			<nav class = "top-navbar flex">
				<div class = "container flex">
					<!-- logo -->
					<a href = "{{ url_for('home') }}" class = "navbar-brand flex">
						<div class="logo"></div>
						<span class = "brand-text">Artisans Alley</span>
					</a>
					<!-- end of logo -->
					<ul class = "navbar-nav-right flex">
						<a href = "{{ url_for('home') }}" class = "nav-link">Home</a>
                        <a href = "{{ url_for('explore_artisans') }}" class = "nav-link">Artisans</a>
                        <a href = "{{ url_for('explore_products') }}" class = "nav-link">Products</a>
                        <a href = "{{ url_for('about') }}" class = "nav-link">About</a>
                        {% if current_user.is_authenticated %}
							<div class="dropdown">
								{% if current_user.__class__.__name__ == 'Customer' %}
									<button class="nav-link navbar-nav-right">{{ current_user.first_name }}</button>
									<div class="dropdown-content">
										<a href="{{ url_for('order') }}">Cart</a>
                                        <a href="{{ url_for('customer_archive') }}">Orders</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% elif current_user.__class__.__name__ == 'Artisan' %}
									<button class="nav-link navbar-nav-right">Account</button>
									<div class="dropdown-content">
										<a href="{{ url_for('artisan', artisan_id=current_user.id) }}" class="artisan-profile-redirection">Profile</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% endif %}
							</div>
                        {% else %}
                            <a href="{{ url_for('sign_in') }}" class="nav-link">Sign In</a>
                        {% endif %}
						{% if current_user.is_authenticated %}
							{% if current_user.__class__.__name__ == 'Customer' %}
								<a href = "{{ url_for('order') }}" class = "cart" data-order-id="{{ order.id }}">
									<img src="../static/images/cart-icon.png" class="cart-icon" style="height:17px">
									<div class="number-items">
										<h6 class="cart-total"></h6>
									</div>
								</a>
							{% endif %}
						{% endif %}
					</ul>
					<!-- hamburger menu icon -->
					<button type = "button" class = "navbar-toggler">
						<i class = "fa fa-bars"></i>
					</button>
					<!-- end of hamburger menu icon -->
				</div>
			</nav>
		</header>
		<!-- end of header -->

		<!-- form -->
		<div class="parent-container">
			<div class="order-items">
				<div class="Delivery">
					<h3>Delivery</h3>
					<select id="country" required>
						<option disabled selected>Country/Region</option>
						{% for country in countries %}
						<option value="{{ country.name }}">{{ country.name }}</option>
						{% endfor %}
					</select>
					<input type="text" placeholder="First Name" class="right first_name" value="{{ current_user.first_name }}">
					<input type="text" placeholder="Last Name" class="last_name" value="{{ current_user.last_name }}">
					<input type="address" placeholder="Address" class="address" value="{{ current_user.address }}">
					<input type="address" placeholder="Apartment, room, etc.(optional)" class="apartment">
					<input type="text" placeholder="Postal code" class="right postal_code">
					<input type="text" placeholder="City" class="city">
					<input type="address" placeholder="Phone (optional)" class="phone">
				</div>
				<div class="Shipment">
					<h3>Shipment</h3>
					<div class="grey shipping_method">
						<p>Enter your shipping address to view available shipping methods</p>
					</div>
				</div>
				<h3>Payments</h3>
				<form id="payment">
					<div class="form-group">
					</div>
					<button class="btn" disabled>Pay now</button>
					<div id="error"></div>
				</form>
			</div>
			<div class="form-container" data-order-id="{{ order.id }}">
				<div class="products">
				</div>
				<hr>
				<div class="total">
					<div class="subtotal">Subtotal<div class="price total-price">$750.00</div></div>
					<div id="shipping">Shipment<div class="price">Enter delivery address</div></div>
					<strong>In total</strong><div class="price total-price">$750.00</div>
				</div>
			</div>
		</div>
		<!-- end of form -->


		<!-- footer -->
		<footer id = "footer">
			<div class = "container footer-grid">
				<div class = "footer-item one">
					<a href = "#" class = "navbar-brand"><span class = "brand-text">Artisans Alley</span></a>
					<p class = "text">Welcome to the digital home of local makers and artisans, The place to find unique and beautiful items to treat yourself, enhance your home decor, or find a memorable gift.</p>
				</div>

				<div class = "footer-item">
					<ul class = "footer-links">
						<li><a href = "{{ url_for('home') }}">Home</a></li>
						<li><a href = "{{ url_for('explore_artisans') }}">Artisans</a></li>
						<li><a href = "{{ url_for('explore_products') }}">Products</a></li>
						<li><a href = "{{ url_for('artisan_sign_up') }}">Sell With Us</a></li>
						<li><a href = "{{ url_for('about') }}">About</a></li>
					</ul>
				</div>

				<div class = "footer-item four">
					<h4>Contact Us</h4>
					<span>   ArtisansAlley@gmail.com   </span>
				</div>
			</div>
		</footer>
		<!-- end of footer -->
	</body>
</html>

