<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisans Alley</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css -->
    <link rel = "stylesheet" href = "../static/styles/home.css">
    <!-- logo icon -->
    <link rel="icon" href="../static/images/logo.png" />
    <!-- Import JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Import JavaScript file -->
	<script type="text/javascript" src="../static/scripts/home.js"></script>
</head>
<body>
    <div class = "holder">
        <!-- header -->
        <header id = "header">

            <!-- top navbar -->
            <nav class = "top-navbar flex">
                <div class = "container flex">
                    <!-- logo -->
                    <a href = "#" class = "navbar-brand flex">
                        <div class="logo"></div>
                        <span class = "brand-text">Artisans Alley</span>
                    </a>
                    <!-- end of logo -->
                    <ul class = "navbar-nav-right flex">
                        <a href = "#" class = "nav-link active">Home</a>
                        <a href = "{{ url_for('explore_artisans') }}" class = "nav-link">Artisans</a>
                        <a href = "{{ url_for('explore_products') }}" class = "nav-link">Products</a>
                        {% if not current_user.is_authenticated %}
                            <a href = "{{ url_for('artisan_sign_up') }}" class = "nav-link">Sell With Us</a>
                        {% endif %}
                        <a href = "{{ url_for('about') }}" class = "nav-link">About</a>
                        {% if current_user.is_authenticated %}
                            <div class="dropdown">
                                {% if current_user.__class__.__name__ == 'Customer' %}
                                    <button class="nav-link navbar-nav-right">Welcome, {{ current_user.first_name }}</button>
                                    <div class="dropdown-content">
                                        <a href="{{ url_for('order') }}">Orders</a>
                                        <a href="{{ url_for('logout') }}">Logout</a>
                                    </div>
                                {% elif current_user.__class__.__name__ == 'Artisan' %}
                                    <button class="nav-link navbar-nav-right">Account</button>
                                    <div class="dropdown-content">
                                        <a href="{{ url_for('artisan', artisan_id=current_user.id) }}" class="artisan-profile-redirection">Profile</a>
                                        <a href="{{ url_for('logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <a href="{{ url_for('sign_in') }}" class="nav-link">Sign In</a>
                        {% endif %}
                    </ul>
                    <!-- hamburger menu icon -->
                    <button type = "button" class = "navbar-toggler">
                        <i class = "fa fa-bars"></i>
                    </button>
                    <!-- end of hamburger menu icon -->
                </div>
            </nav>
            <!-- end of top navbar -->

            <!-- header banner -->
            <div class = "header-banner">
                <div class = "container flex">
                    <div class = "header-banner-left flex">
                        <h1>A Digital Gateway to Traditional Crafts</h1>
                        <p class = "text">Welcome to the digital home of local makers and artisans, The place to find unique and beautiful items to treat yourself, enhance your home decor, or find a memorable gift.</p>
                        <a href = "{{ url_for('explore_products') }}" class = "btn btn-lg">Explore Products</a>
                    </div>
                    <div class = "header-banner-right">
                        <img src = "../static/images/header-banner-1.jpg" alt = "">
                    </div>
                </div>
            </div>
            <!-- end of header banner -->

        </header>
        <!-- end of header -->

        <!-- popular section -->
        <section id="popular">
            <div class="container">
                <div class="section-title">
                    <h2>Popular Products</h2>
                </div>
                <ul class="popular-grid grid">
                    {% set limit = 8 %}
                    {% for product in products %}
                        {% if loop.index <= limit %}
                            <li class="popular-item" data-product-id="{{ product.id }}">
                                <div class="item-img">
                                    <img src="{{ product.picture }}">
                                </div>
                                <div class="item-info">
                                    <span class="name">{{ product.name }}</span>
                                    <span class="price">${{ product.price }}</span>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <a href = "{{ url_for('explore_products') }}" class = "btn btn-sm">Show More</a>
            </div>
        </section>
        <!-- end of popular section -->

        <!-- collection section -->
        <section id = "collection">
            <div class = "container">
                <div class = "section-title">
                    <h2>Meet Our Talented Artisans</h2>
                    <p class = "text">
                        Explore the world of artisanal craftsmanship! Discover our talented artisans and their unique products!</p>
                </div>

                <div class = "collection-grid grid">
                    {% set limit = 8 %}
                    {% for artisan in artisans %}
                        {% if loop.index <= limit %}
                            <div class = "collection-item" data-artisan-id="{{ artisan.id }}">
                                <div class = "item-img">
                                    <img src = "{{ artisan.picture }}">
                                </div>
                                <div class = "item-info">
                                    <span class = "name">{{ artisan.name }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <a href = "{{ url_for('explore_artisans') }}" class = "btn btn-sm">Show More</a>
            </div>
        </section>
        <!-- end of collection section -->

        <!-- about us section -->
        <section id = "about-us">
            <div class = "container">
                <h4>About Us</h4>
                <p class = "text">At Artisans Alley, our passion lies in connecting discerning customers with skilled artisans worldwide. We believe in celebrating craftsmanship and supporting local communities by providing a platform for artisans to showcase their talents. Through our project, we aim to foster appreciation for handmade goods and promote sustainable, ethical shopping practices. Join us on this journey to discover the beauty of artisanal creations and make a positive impact on the world.</p>
                <a href = "{{ url_for('about') }}" class = "btn btn-sm" id="learn-more">Learn More</a>
            </div>
        </section>
        <!-- end of about us section -->

        <!-- footer -->
        <footer id = "footer">
            <div class = "container footer-grid">
                <div class = "footer-item one">
                    <a href = "#" class = "navbar-brand"><span class = "brand-text">Artisans Alley</span></a>
                    <p class = "text">Welcome to the digital home of local makers and artisans, The place to find unique and beautiful items to treat yourself, enhance your home decor, or find a memorable gift.</p>
                </div>

                <div class = "footer-item">
                    <ul class = "footer-links">
                        <li><a href = "#">Home</a></li>
                        <li><a href = "{{ url_for('explore_artisans') }}">Artisans</a></li>
                        <li><a href = "{{ url_for('explore_products') }}">Products</a></li>
                        <li><a href = "{{ url_for('artisan_sign_up') }}">Sell With Us</a></li>
                        <li><a href = "{{ url_for('about') }}">About</a></li>
                    </ul>
                </div>

                <div class = "footer-item four">
                    <h4>Contact Us</h4>
                    <span>   ArtisansAlley@gmail.com   </span>
                </div>
            </div>
        </footer>
        <!-- end of footer -->
    </div>
    
</body>
</html>
