<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ product.name }}</title>
		<link rel = "stylesheet" href = "../static/styles/home.css">
        <link rel = "stylesheet" href = "../static/styles/explore_products.css">
		<link rel="stylesheet" href="../static/styles/product.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="icon" href="../static/images/logo.png" />
		<!-- Import JQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- Import JavaScript file -->
		<script type="text/javascript" src="../static/scripts/product.js"></script>
	</head>
	<body>

		<!-- header -->
		<header id = "header">

			<!-- top navbar -->
			<nav class = "top-navbar flex">
				<div class = "container flex">
					<!-- logo -->
					<a href = "{{ url_for('home') }}" class = "navbar-brand flex">
						<div class="logo"></div>
						<span class = "brand-text">Artisans Alley</span>
					</a>
					<!-- end of logo -->
					<ul class = "navbar-nav-right flex">
						<a href = "{{ url_for('home') }}" class = "nav-link">Home</a>
                        <a href = "{{ url_for('explore_artisans') }}" class = "nav-link">Artisans</a>
                        <a href = "{{ url_for('explore_products') }}" class = "nav-link" >Products</a>
                        {% if not current_user.is_authenticated %}
                            <a href = "{{ url_for('artisan_sign_up') }}" class = "nav-link">Sell With Us</a>
                        {% endif %}
                        <a href = "{{ url_for('about') }}" class = "nav-link">About</a>
                        {% if current_user.is_authenticated %}
							<div class="dropdown">
								{% if current_user.__class__.__name__ == 'Customer' %}
									<button class="nav-link navbar-nav-right">Welcome, {{ current_user.first_name }}</button>
									<div class="dropdown-content">
										<a href="{{ url_for('order') }}">Orders</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% elif current_user.__class__.__name__ == 'Artisan' %}
									<button class="nav-link navbar-nav-right">Account</button>
									<div class="dropdown-content">
										<a href="{{ url_for('artisan', artisan_id=current_user.id) }}" class="artisan-profile-redirection">Profile</a>
										<a href="{{ url_for('logout') }}">Logout</a>
									</div>
								{% endif %}
							</div>
                        {% else %}
                            <a href="{{ url_for('sign_in') }}" class="nav-link">Sign In</a>
                        {% endif %}
					</ul>
					<!-- hamburger menu icon -->
					<button type = "button" class = "navbar-toggler">
						<i class = "fa fa-bars"></i>
					</button>
					<!-- end of hamburger menu icon -->
				</div>
			</nav>
		</header>
		<!-- end of header -->

		<!-- product -->
        <div class="product-container">
			<div id="message-box" style="display:none; position: fixed; bottom: 20px; right: 20px; background: green; color: white; padding: 10px; border-radius: 5px;">
				<!-- Message will be inserted here -->
			</div>
            <div class="product-image">
                <img src="{{ product.picture }}" alt="Product Image">
            </div>
            <div class="product-details" data-product-id="{{ product.id }}">
                <h1>{{ craft.name }}</h1>
                <h2 class="product_name">{{ product.name }}</h2>
                <h1>Artisan: {{ artisan.name }}</h1>
                <p class="price">${{ product.price }}</p>
				<p class="description">{{ product.description }}</p>
                <!--<p class="description">Transport yourself to ancient Egypt with our exquisite handmade necklace, crafted with care by skilled artisans. Each bead whispers tales of the Nile's mysteries, while the intricate design pays homage to the timeless beauty of Egyptian artistry. Elevate your style with this timeless piece that echoes the elegance of a bygone era.</p>-->
                {% if current_user.is_authenticated %}
					{% if current_user.__class__.__name__ == 'Customer' %}
						<button class="order-button" data-product-id="{{ product.id }}" data-order-id="{{ order.id }}">Order Now</button>
					{% endif %}
				{% else %}
					<button id="order-signin-button" data-url="{{ url_for('sign_in') }}">Order Now</button>
				{% endif %}
            </div>
        </div>
		<!-- end of product -->

		<!-- reviews -->
		<section id="reviews">
			<div class="container">
				<div class="reviews-section-title">
					<h2>Customer Reviews</h2>
				</div>
				<div class="review_list">
				</div>
			{% if current_user.is_authenticated %}
				<h3 class="user_name">{{ current_user.first_name }} {{ current_user.last_name }}</h3>
				<textarea rows="2" cols="10"></textarea>
				<button class="showMoreBtn">Show More</button>
				<button class="addReviewBtn" data-user-id="{{ current_user.id }}">Leave a review</button>
			{% else %}
				<button class="showMoreBtn">Show More</button>
			{% endif %}
			</div>
		</section>
		<!-- end of reviews -->

        <!-- products section -->
        <section id="products">
            <div class="container">
                <div class="section-title">
                    <h2>Similar Products</h2>
                </div>

                <ul class="products-grid grid">
                    <li class="products-item">
                        <div class="item-img">
                            <img src="../static/images/popular-1.jpg">
                        </div>
                        <div class="item-info">
                            <span class="name">Handmade Wooden Chair</span>
                            <span class="price">$ 99.99</span>
                        </div>
                    </li>

                    <li class="products-item">
                        <div class="item-img">
                            <img src="../static/images/product-5.jpg">
                        </div>
                        <div class="item-info">
                            <span class="name">Brass Pot</span>
                            <span class="price">$ 99.56</span>
                        </div>
                    </li>
        
                    <li class="products-item">
                        <div class="item-img">
                            <img src="../static/images/popular-2.jpg">
                        </div>
                        <div class="item-info">
                            <span class="name">Traditional Rug</span>
                            <span class="price">$ 250</span>
                        </div>
                    </li>

                    <li class="products-item">
                        <div class="item-img">
                            <img src="../static/images/product-6.jpg">
                        </div>
                        <div class="item-info">
                            <span class="name">Ottoman Turkish Turban</span>
                            <span class="price">$ 18.99</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end of products section -->

		<!-- footer -->
		<footer id = "footer">
			<div class = "container footer-grid">
				<div class = "footer-item one">
					<a href = "#" class = "navbar-brand"><span class = "brand-text">Artisans Alley</span></a>
					<p class = "text">Welcome to the digital home of local makers and artisans, The place to find unique and beautiful items to treat yourself, enhance your home decor, or find a memorable gift.</p>
				</div>

				<div class = "footer-item">
					<ul class = "footer-links">
						<li><a href = "{{ url_for('home') }}">Home</a></li>
						<li><a href = "{{ url_for('explore_artisans') }}">Artisans</a></li>
						<li><a href = "{{ url_for('explore_products') }}">Products</a></li>
						<li><a href = "{{ url_for('artisan_sign_up') }}">Sell With Us</a></li>
						<li><a href = "{{ url_for('about') }}">About</a></li>
					</ul>
				</div>

				<div class = "footer-item four">
					<h4>Contact Us</h4>
					<span>   ArtisansAlley@gmail.com   </span>
				</div>
			</div>
		</footer>
		<!-- end of footer -->
	</body>
</html>