<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell With Us</title>
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="../static/styles/sign_up.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/logo.png" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

<!-- header -->
<header id="header">

    <!-- top navbar -->
    <nav class="top-navbar flex">
        <div class="container flex">
            <!-- logo -->
            <a href = "{{ url_for('home') }}" class = "navbar-brand flex">
                <div class="logo"></div>
                <span class="brand-text">Artisans Alley</span>
            </a>
            <!-- end of logo -->
            <ul class="navbar-nav-right flex">
                <a href = "{{ url_for('home') }}" class = "nav-link">Home</a>
                        <a href = "{{ url_for('explore_artisans') }}" class = "nav-link">Artisans</a>
                        <a href = "{{ url_for('explore_products') }}" class = "nav-link">Products</a>
                        <a href = "#" class = "nav-link active">Sell With Us</a>
                        <a href = "{{ url_for('about') }}" class = "nav-link">About</a>
                        {% if current_user.is_authenticated %}
                            <div class="dropdown">
                                <button class="nav-link navbar-nav-right">Welcome, {{ current_user.first_name }}</button>
                                <div class="dropdown-content">
                                    {% if current_user.__class__.__name__ == 'Customer' %}
                                        <a href="{{ url_for('order') }}">Orders</a>
									{% elif current_user.__class__.__name__ == 'Artisan' %}
                                        <a class="artisan-profile-redirection">Profile</a>
                                    {% endif %}
                                    <a href="{{ url_for('logout') }}">Logout</a>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ url_for('sign_in') }}" class="nav-link">Sign In</a>
                        {% endif %}
            </ul>
            <!-- hamburger menu icon -->
            <button type="button" class="navbar-toggler">
                <i class="fa fa-bars"></i>
            </button>
            <!-- end of hamburger menu icon -->
        </div>
    </nav>
</header>
<!-- end of header -->

<!-- form -->
<div class="form-container">
    <h2>Sell With Us</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="username">Username:</label>
            {{ form.name }}
            {% for error in form.name.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            {{ form.email }}
            {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            {{ form.country }}
            {% for error in form.country.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            {{ form.city }}
            {% for error in form.city.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="craft">Craft:</label>
            {{ form.craft }}
            {% for error in form.craft.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            {{ form.description }}
            {% for error in form.description.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password }}
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">Confirm your Password:</label>
            {{ form.password2 }}
            {% for error in form.password2.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">Add Image</label>
            {{ form.picture }}
            {% for error in form.picture.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
        <div>
            <label>Already have an Account?</label>
            <a href="{{ url_for('sign_in') }}" class="nav-link-sign">Sign In</a>
        </div>
    </form>
</div>
<!-- end of form -->


<!-- footer -->
<footer id="footer">
    <div class="container footer-grid">
        <div class="footer-item one">
            <a href="#" class="navbar-brand"><span class="brand-text">Artisans Alley</span></a>
            <p class="text">Welcome to the digital home of local makers and artisans, The place to find unique and beautiful items to treat yourself, enhance your home decor, or find a memorable gift.</p>
        </div>

        <div class="footer-item">
            <ul class="footer-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('explore_artisans') }}">Artisans</a></li>
                <li><a href="{{ url_for('explore_products') }}">Products</a></li>
                <li><a href="#">Sell With Us</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>

        <div class="footer-item four">
            <h4>Contact Us</h4>
            <span>   ArtisansAlley@gmail.com   </span>
        </div>
    </div>
</footer>
<!-- end of footer -->
<script>
	document.getElementById('country').addEventListener('change', function() {
			let countryId = this.value;
			$.get(`http://localhost:5001/api/v1/countries/${countryId}/cities`, function (data) {
					let cities = data;
					let cityDropdown = document.getElementById('city');
					cityDropdown.innerHTML = '<option value="" disabled selected>Select your city</option>';
					cities.forEach(function(city) {
							let option = document.createElement('option');
							option.value = city.id;
							option.text = city.name;
							cityDropdown.appendChild(option);
						})
				})
		})
</script>
</body>
</html>
